<br>
<br>
<br>
<br>
<br>
<br>
<div class="x">
<div class="row y">
			<h1 class="title3"><%='Work in Progress'%></h1>
</div>	
<br>
<div class="row y">
			<h3 class="title4"><%='sorry, thank you for being patient!'%></h1>
</div>
<br>
<br>
<div class="row y">
			<%= link_to 'Back', url_for(:back), class: "btn btn-primary orange btn-lg" %>
</div>
</div>