/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */
/*IMPORTS*/
@import "bootstrap";
@import "main";
@import "case2";
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i, 700i, 700i|Montserrat:400i,700');
@font-face {
  font-family: 'Bodoni';    
  src: url('/assets/BodoniDisplay-BoldItalic.otf');
  font-weight: 700;
  font-style: italic;
}
/*IMPORTS END*/
body
{

	font-family: 'Lato', sans-serif;
	font-style: normal;
	background-color: white;

}
.x
{
	margin:7.5% 13.5% 2.5% 13.5%;
}
.y{
	text-align: center;
	display: block!important;
	margin-bottom: 0;
}
.navbar
{
	padding: 10px 12.5%;
	background-color: white;
	border-bottom: 1px dashed #95989A;

}
.nav-link
{
	font-family: "Lato"
}
.logo
{
	height: 36px;
	width:36px;
}

.no-tb-marg
{
	margin-top:0 ;
	margin-bottom: 0;
}
.no-b-marg
{
	margin-bottom: 0;
}

.show-xs
{
	  display:none;
	  visibility: hidden;
}
	.show-weird
	{
		display: none;
		visibility: hidden;
	}
	.br {
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: 40px !important;
}
.orange
{
	background-color: #ff9393;
	border: 0;
}
.orange-text
{
	color: #ff9393 !important;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    background-color: #bcd7ee;
    color:black !important;

}
.btn-lg
{
	padding: 15px 30px !important;
	border-radius: 15px;
	font-size:18px !important;		
}
.btn{
	font-size: 16px;
	border-radius:10px;
	padding: 10px 15px; 
}
.btn-ghost
{
	background-color: white;
	border: 3px solid #ff9393;
	color: #333;
}
.btn-ghost:hover, .btn-ghost:focus, .btn-ghost:active, .btn-ghost.active
{
	border-color: #bcd7ee;
	background-color: #bcd7ee !important;
		color: black !important;
}

div.scrollmenu {
    background-color: white;
		border-bottom: 1px dashed #95989A;	
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu a {
    display: inline-block;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.footer
{
	border-top: 1px dashed #95989A;
}
.fsub
{
	font-family: "Lato";
	text-align: center;
}
.fname
{
	font-family: "Montserrat";
	font-weight: 500 !important;
	font-size: 24px;
	text-align: center;
}
.resume {
	display: inline-block;
    margin: auto;
    text-align: center;
    width: 100%;
}
.email
{
	font-size: 16px;
}
.card-a{
	height:515px;

}
.card{
	margin: 0 auto !important;
	float: none;
	margin-bottom: 20px !important;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 359px) {
	.header
	{
		font-size: 18px;
	}
}
@media only screen and (min-device-width : 360px) and (max-device-width : 375px) {
	.header
	{
		font-size: 18px;
	}	
	.pscreen
	{
		padding-left: 20px;
	}
}
@media only screen and (min-device-width : 375px) and (max-device-width : 390px) {

	.pscreen
	{
		padding-left: 20px;
	}
}
@media only screen and (min-device-width : 391px) and (max-device-width : 414px) {
	.header
	{
		font-size: 18px;
	}
	.pscreen
	{
		padding-left: 15px;
	}
	.img-responsive
	{
		height: 200px !important;
	}

}
@media only screen and (min-device-width : 449px) and (max-device-width : 480px) {
	.header
	{
		font-size: 18px;
	}
	.pscreen
	{
		padding-left: 15px;
	}
	.img-responsive
	{
		height: 200px !important;
	}

}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
	.aboutme
	{
		line-height:35px;
		
	}
	.logo{
		height:20px !important;
		width:20px !important;
		margin: 0;

	}
	.navbar-brand
	{
		padding-top:0 !important;
		padding-bottom: 0 !important;
	}
	.z{
	text-align: center;
	display: block!important;
	margin-bottom: 0;
	}
	.center {
	    display: block;
	    margin: 0 auto;
	}
	.za{
	text-align: center;
	margin-bottom: 0;
	padding-top: 12.5px !important;
	display: flex !important;
	}
	.zad{
	text-align: center;
	margin-left:20%;

	}
	.hide-xs
	{
		  display:none !important;
		  visibility: hidden !important;
	}
	.show-xs
	{
		  display:block !important;
		  visibility: visible;
	}
	.x
	{
		margin: 12.5% 12.5% 5% 12.5%;
	}
	.zb
	{
		margin-top:20px;
	}
	.zc
	{
		margin-left:20px;
	}
	.title{
		font-size: 28px;

	}

	.subtitle
	{
		font-size: 16px !important;
	}
	.img-responsive
	{
		height:165px;
		margin-bottom:30px;

	}
	.pscreen
	{
		margin-left:5%;
		margin-top:20px;
	}
	.face
	{
		height:150px !important;
		width:150px !important;
	}
	.socialmedia
	{
		padding-left: 0px;
		height:21px;
		margin-top:0;
		padding-right: 10px;
	}
	.pdesc
	{
		font-size: 16px;
		line-height: 30px;
	}
	.ptitle
	{
		font-size:24px;
	}
	.email2
	{
		padding-left: 0 !important;
	}
	.nav-link
	{
		padding: 0;
		font-size: 12px;
		color: #333;
	}
	.btn-large{

		margin-top:28px !important;
		border-radius: 30px;
	}
	.za
	{
		margin-top:40px !important;
	}

}

/* Tablets (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
	.x
	{
		margin: 10.5%;
	}
	.z{
	text-align: center;
	display: block!important;
	margin-bottom: 0;
	}
	.title{
		text-align: center;
	}
	.navbar
	{
		padding: 30px 10.5% !important;
		height:35px;


	}
	.navbar-nav
	{
			padding-top: 10px;
			padding-bottom: 10px;
	}
	.nav-link
	{
		font-size: 16px !important;
	}
	.title{
		font-size: 48px;
	}
	.img-responsive
	{
		height:250px;
	}
	.socialmedia
	{
	padding-left: 5.5px;
	margin-top:0;
	height:21px;
	}
	.pdesc
	{
		font-size: 16px;
		line-height: 30px;
	}
	.ptitle
	{
		font-size:28px;
	}
	.card{
		width:18rem !important;
		margin-right:40px !important;
	}

}
@media only screen and (min-width : 992px) and (max-device-width : 1024px){
	.card{
		width:16rem !important;
		margin-right:40px !important;
	}
		.show-weird
	{
		display: inherit;
		visibility:visible;
	}
	.card-text
	{
		font-size: 18px !important;
	}
		.center
	{
		margin-left:20px;
	}


}
/* Desktops and laptops ----------- */
@media only screen and (min-width : 1025px) and (max-device-width : 1300px){
/* Styles */
.img-responsive
	{
		height:300px;
	}
	.zc
	{
		padding-left: 0;
	}
	.card{
		    width: 16rem !important;
    margin-right: 30px;
	}
	.card-text
	{
		font-size:18px;
	}
	.show-weird
	{
		display: inherit;
		visibility:visible;
	}
	.center
	{
		margin-left:20px;
	}

}

@media only screen  and (min-width : 1224px) {
/* Styles */
.img-responsive
	{
		height:360px;
	}
	.zc
	{
		padding-left: 0;
	}
	.center
	{
		margin-left:20px;
	}

}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
}
/* Large screens ----------- */
@media only screen  and (min-width : 765px) {
	.navbar-nav
	{
		flex-direction: row;
		
	}
	.nav-link
	{
		margin-right: 40px;
		font-size:18px;
		padding-left: 0
	}
}