/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */

@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i|Montserrat:400i,700');
@font-face {
  font-family: 'Hijrnotes';    
  src: url('/assets/Hijrnotes.ttf');
  font-weight: normal;
  font-style: normal;
}
body
{

	font-family: 'Lato', sans-serif;
	font-style: normal;
	background-color: white;

}
.x
{
	margin:7.5% 13.5% 2.5% 13.5%;
}
.y{
	text-align: center;
	display: block!important;
	margin-bottom: 0;
}
.navbar
{
	padding: 10px 12.5%;
	background-color: white;
		border-bottom: 1px dashed #95989A;

}
.nav-link
{
	font-family: "Lato"
}

.no-tb-marg
{
	margin-top:0 ;
	margin-bottom: 0;
}
.title
{
	font-family: 'Montserrat';
	font-weight: bold;
	font-size:36px;
	color:  #5B5B5B;;
}
.title2
	{
		font-size: 18px !important;
		color:  #5B5B5B;;
		font-family: 'Lato';
		font-style: normal;
		letter-spacing: 1px;
	}
.title3
{
	font-family: 'Hijrnotes' !important;
	font-size:36px;
	color:  #5B5B5B;
}
.title4
{
	font-family: 'Lato' !important;
	font-size:18px;
	color:  #5B5B5B;;
}
.subtitle
{
	font-size:16px;
	font-family: 'Lato' !important;
	letter-spacing: 1px;
}
.socialmedia
{	
	padding-left: 0px;
	height:24px !important	;
	width:auto;
	padding-top:10px;
	padding-right:25px !important;
	-webkit-transition: transform .5s;
	-moz-transition: transform .5s;
	-ms-transition:transform .5s;
	-o-transition: transform .5s;
	transition: transform .5s;
}
.socialmedia:hover
{

	transform: translate(0, -5px);
	-webkit-tranform: translate(0, -5px);
	-moz-tranform: translate(0, -5px);
	-ms-tranform:translate(0, -5px);
	-o-tranform: translate(0, -5px);

}
.socialmedia2
{
	display: flex;
	justify-content: space-around;
	display: -webkit-flex; /* Safari */
    -webkit-justify-content: space-around;
}
		
.header
{
	font-size:21px;
	font-family:"Montserrat";
	font-style: italic;
	text-align: center;
	color: #5B5B5B;
}
.face
{

		height:200px !important;
		width:200px !important;
		border-radius: 100px;
		margin-bottom:30px;
		opacity:.8;
}
.line
{
	-webkit-box-flex:0;
	-ms-flex: 0 0 ;
	flex: 0 0 10%;
	max-width: 10%;
}
hr{
	border-width: 1	px;
	border-color: #5B5B5B !important;

}
.aboutme
{
	font-size:18px;
	color: #5B5B5B !important;
	font-family: 'Lato';
}
.br {
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: 40px !important;
}
.orange
{
	background-color: #ff9393;
	border: 0;
}
.orange-text
{
	color: #ff9393 !important;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    background-color: #fC8282;
    color:white !important;

}
.btn-lg
{
	padding: 15px 30px;
	border-radius: 15px;		
}

.ptitle{
	font-size:42px;
	color: #5B5B5B;
	font-family: 'Montserrat'
}
.pdesc{
	font-size:18px;
	color: #5B5B5B;
}
.century
{
	font-family: 'Lato';
	font-style: italic;
	font-size: 20px;
}
.bold {
	font-weight: 400 !important;
	font-size: 20px	;
}
a:hover, a:focus, a:active, a.active{
	color: #fC8282 !important;
}
.grey
{
	background-color: #f6f6f6 !important;
}
.card
{
	margin-bottom: 35px;
}
.card-block h4
{
	font-size:21px;
	color: #5B5B5B;
	font-family: 'Montserrat';
	font-weight:700;
}
.footer
{
	border-top: 1px dashed #95989A;
}
.fsub
{
	font-family: "Lora";
	text-align: center;
}
.fname
{
	font-family: "Montserrat";
	font-weight: 500 !important;
	font-size: 24px;
	text-align: center;
}
.resume {
	display: inline-block;
    margin: auto;
    text-align: center;
    width: 100%;
}
.email
{
	font-size: 16px;
}
.show-xs
{
	  display:none;
	  visibility: hidden;
}
div.scrollmenu {
    background-color: white;
		border-bottom: 2px dashed #95989A;	
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu a {
    display: inline-block;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 374px) {
	.card{
		width: 17rem !important;
	}
	.header
	{
		font-size: 18px;
	}
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
	.z{
	text-align: center;
	display: block!important;
	margin-bottom: 0;

	}
	.za{
	text-align: center;
	margin-bottom: 0;
	padding-top: 12.5px !important;
	display:flex !important;
	}
		.zad{
	text-align: center;
	margin-left:20%;

	}
	.hide-xs
	{
		  display:none !important;
		  visibility: hidden !important;
	}
	.show-xs
	{
		  display:block !important;
		  visibility: visible;
	}
	.x
	{
		margin: 12.5% 12.5% 5% 12.5%;
	}
	.title{
		font-size: 28px;
	}

	.subtitle
	{
		font-size: 16px !important;
	}
	.aboutme
	{
		font-size: 16px !important;
	}
	.img-responsive
	{
		height:190px;
		margin-bottom:30px;

	}
	.pscreen
	{
		margin-left: 12.5%;
	}
	.ace {
		margin-top:40px;
	}
	.face
	{
		height:150px !important;
		width:150px !important;
	}
	.socialmedia
	{
		padding-left: 0px;
		height:21px;
		margin-top:0;
		padding-right: 10px;
	}
	.pdesc
	{
		font-size: 16px;
	}
	.ptitle
	{
		font-size:24px;
	}
	.email2
	{
		padding-left: 0 !important;
	}
	.nav-link
	{
		padding: 0;
		font-size: 14px;
		color: #333;
	}
	.btn{

		margin-top:28px !important;
		border-radius: 30px;
	}

}

/* Tablets (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
	.x
	{
		margin: 10.5%;
	}
	.z{
	text-align: center;
	display: block!important;
	margin-bottom: 0;
	}
	.title{
		text-align: center;
	}
	.navbar
	{
		padding: 10px 10.5%;
		border-bottom: .5px dashed #95989A;

	}
	.nav-link
	{
		font-size: 16px !important;
	}
	.title{
		font-size: 48px;
	}
	.img-responsive
	{
		height:250px;
	}
	.socialmedia
{
	padding-left: 5.5px;
	margin-top:0;
	height:21px;
}
	.pdesc
	{
		font-size: 20px;
	}
	.ptitle
	{
		font-size:28px;
	}

}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */
.img-responsive
	{
		height:360px;
	}

}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
}
/* Large screens ----------- */
@media only screen  and (min-width : 765px) {
	.navbar-nav
	{
		flex-direction: row;
		
	}
	.nav-link
	{
		margin-right: 40px;
		font-size:18px;
		padding-left: 0
	}
}