.big-img
{
	width:75%;
	height:auto;
	border-radius: 15px;
}
.erd-img
{
	width:80%;
	margin:30px auto;
	border-radius: 15px;
}
.erdx-img
{
	width:80%;
	margin:0 10%;
	border-radius: 15px;
}
body.mobile {
    background: #0000!important;
}
.wired-img
{
	width:100%;
	margin: 30px auto;
	border-radius: 15px;
}
.wire-img
{
	width:80%;
	margin:0 10% !important;
}
.a {
	margin-top: 15px;
	margin-bottom:2rem;
}
.typical
{
	font-size: 18px;
	line-height:40px;
	font-family: 'Lato';
	text-align: left !important;
}
.head
{
	font-size: 24px;
	font-family: 'Montserrat';
	font-weight: 700;
	color: #5B5B5B;
}
.mini
{
	font-size:24px;
	font-family: 'Lato';
}
.big
{
	font-size:36px;
	margin-top: 50px;
}
.list
{
	line-height:26px;
	margin-bottom:0;
	font-size: 18px !important	;

}
.list2
{
	line-height:26px;
	margin-bottom:0;
	font-size: 18px !important	;

}
.m-left
{
		margin-left:12.5px;
}
.space
{
	margin-bottom:30px;
}
.space2
{
	margin-bottom:20px;
}
.space3
{
	margin-left:20px !important;
}
.title3
{
	font-family: 'Droid Serif' !important;
	font-size:56px;
	color:  #5B5B5B;
}


.findings
{
	border-left: 1px solid #95989A;
	color: #535353;
	padding-bottom:0;
	margin: 30px auto;
	font-size:16px !important;
	font-style: italic;
}
.findings2
{
	border-left: 1px solid #95989A;
	color: #535353;
	padding-bottom:0;
	margin: 30px auto;
	a
	{
		color: #f4427a !important;
	}

}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
		.btn{
			margin-bottom: 30px !important;
		}
		.invision
		{
			transform: scale(.5);
			margin-top: -200px;
			margin-bottom: -200px;
		}
		.roles
	   {
	   	padding-left: 0;
	   	padding-top: 15px;
	   }
	   .typical{
	   	font-size: 16px;
	   	line-height: 30px;
	   }
	   .list
	   {
	   	font-size:16px !important;
	   	line-height: 30px;

	   }
	   .title3
	   {
	   	font-size: 36px;
	   }
	   .head
	   {
	   	font-size:22px;
	   }
	   .big
	   {
	   	margin-top: 30px;
	   }
	   .mini
	   {
	   	font-size: 18px;
	   	font-style: italic;
	   }
	    .mini2
	   {
	   	font-size: 18px;
	   }
	   .btna
	   {
	   	margin-left: 0;
	   	margin-top:0;
	   	padding-left: 0
	   }
	   .btn-ghost{
	   	margin-bottom:0;

	   }
	   .a
	   {
	   		margin-top: 5px;
	   }
	   .center
	   {
	   		margin:auto ;
	   }
	   .as
	   {
	   	padding-right: 0;
	   }
	   .erd-img
	   {
	   	width: 100%;
	   	margin-top: 0;
	   }
	   .wire-img
		{
			width:100%;
			margin:30px auto;
			border-radius: 15px;
		}
		.wired-img
		{
			width:100%;
			margin: 0 !important;
			border-radius: 15px;
		}
		.space3
		{
			margin-left:0px !important;
		}
		 .case-img
		{
			width:100%;
			margin:30px auto;
			border-radius: 15px;
		}
	   .big-img
	   {
	   	width: 100%;
	   }

	   .side
	   {
	   	margin-bottom: 0;

	   }

}
@media only screen and (min-device-width : 990px) and (max-device-width : 1200px) {
	.btna
	{
		margin-left: 30px;
	}

	.carda
	{
		height: 255px !important;
	}
}
