.title
{
	font-family: 'Montserrat';
	font-weight: bold;
	font-size:48px;
		color:  #5B5B5B;
		font-family:'Droid Serif';
		letter-spacing: -.5px;
}
.title2
	{
		font-size: 20px !important;
		font-family:"Lato";
		font-style: italic;
			color:  #5B5B5B;;	
				letter-spacing: 1px !important;
	}

.title4
{
	font-family: 'Lato' !important;
	font-size:18px;
	color:  #5B5B5B;;
}
.subtitle
{
	font-size:16px;
	font-family: 'Lato' !important;
	letter-spacing: 1px;
		color:  #5B5B5B;;
}
.socialmedia
{	
	padding-left: 0px;
	height:24px !important	;
	width:auto;
	padding-top:10px;
	padding-right:25px !important;
	-webkit-transition: transform .5s;
	-moz-transition: transform .5s;
	-ms-transition:transform .5s;
	-o-transition: transform .5s;
	transition: transform .5s;
}
.socialmedia:hover
{

	transform: translate(0, -5px);
	-webkit-tranform: translate(0, -5px);
	-moz-tranform: translate(0, -5px);
	-ms-tranform:translate(0, -5px);
	-o-tranform: translate(0, -5px);

}
.socialmedia2
{
	display: flex;
	justify-content: space-around;
	display: -webkit-flex; /* Safari */
    -webkit-justify-content: space-around;
}
		
.header
{
	font-size:21px;
	font-family:"Lato";
	font-style: italic;
	font-weight: 700;
	text-align: center;
	color: #5B5B5B;
}
.face
{

		height:200px !important;
		width:200px !important;
		border-radius: 100px;
		margin-bottom:15px;
		opacity:.8;
}
.line
{
	-webkit-box-flex:0;
	-ms-flex: 0 0 ;
	flex: 0 0 10%;
	max-width: 10%;
}
hr{
	border-width: 1	px;
	border-color: #5B5B5B !important;

}
.aboutme
{
	font-size:18px;
	color: #5B5B5B !important;
	font-family: 'Lato';
	line-height: 35px;
}


.ptitle{
	font-size:42px;
	color: #5B5B5B;
	font-family: 'Montserrat'
}
.pdesc{
	font-size:18px;
	color: #5B5B5B;
	line-height: 40px;
	margin-top:20px;
}
.century
{
	font-family: 'Lato';
	font-style: italic;
	font-size: 20px;
}
.bold {
	font-weight: 400 !important;
	font-size: 20px	;
}
a:hover, a:focus{
	color: #f4427a !important;
}
.grey
{
	background-color: #f6f6f6 !important;
}
.card
{
	margin-bottom: 35px;
}
.card-block h4
{
	font-size:21px;
	color: #5B5B5B;
	font-family: 'Montserrat';
	font-weight:700;
}
a 
{
	color: #ff9393;
}
h4 a
{
	 color:#5B5B5B;
}
hr a:hover, a:active, a:focus 
{
	 color:#5B5B5B;	
}
