.b
{
	padding: 7.5% 6%; height:100vh;    
	background-image: url(/assets/sunset.jpg); 
	background-size:cover;
	background-position: left top;

@media only screen and (min-device-width : 320px) and (max-device-width : 800px) {
	padding: 20% 6%; 
}
}